#version 1.0
name: CI

on: push


jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2 
      - uses: actions/setup-node@v2
        with:
          node-version: '16.x'
          cache: 'npm' # or yarn

      - name: install
        run: npm install # or yarm

      - name: build
        run: npm run build # or yarn
      
      - name: REUSE Compliance Check
        uses: fsfe/reuse-action@v1
